* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: fixed;
}

body {
    color: #ededed;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    width: 100%;
    background-color: midnightblue;
}

#navig .navbara a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    transition: .3s all ease;
    font-weight: 500;
    margin-left: 35px;
    animation: slideTop 0.5s ease forwards;
    animation-delay: calc(.2s*var(--i));
}

#navig .navbara a:hover {
    color: #0ef;
}

#navig .logo {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}


.home {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    background: url(check.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 90px 10% 0;
    color: #fff;
}


.home-content h1 {
    font-size: 36px;
    font-weight: 800;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content h2 .text {
    color: #0ef;
}

.home-content h2:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h2 {
    font-size: 34px;
    font-weight: 700;
    padding-top: 1%;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h4 {
    font-size: 32px;
    font-weight: 500;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.button {
    --width: 120px;
    --height: 35px;
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: #1163ff;
    --tooltip-color: #fff;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-radius: 0.45em;
    transition: background 0.3s;
    margin-top: 10%;
    cursor: pointer;
    margin-left: 14%;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.button::before {
    position: absolute;
    content: attr(data-tooltip);
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    background-color: var(--tooltip-color);
    font-size: 0.9rem;
    color: #111;
    border-radius: .25em;
    line-height: var(--tooltip-height);
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
    left: calc(50% - var(--tooltip-width) / 2);
}

.button::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: var(--tooltip-color);
    left: calc(50% - 10px);
    bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
}

.button::after,
.button::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.texta {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-wrapper,
.texta,
.icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
}

.texta {
    top: 0
}

.texta,
.icon {
    transition: top 0.5s;
}

.icon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon svg {
    width: 24px;
    height: 24px;
}

.button:hover {
    background: #6c18ff;
}

.button:hover .texta {
    top: -100%;
}

.button:hover .icon {
    top: 0;
}

.button:hover:before,
.button:hover:after {
    opacity: 1;
    visibility: visible;
}

.button:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.button:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}

/*ABOUT PAGE*/
#about {
    padding: 80px 0;
}

.about {}

.about-img img {
    flex-basis: 35%;
}

.about-text {
    flex-basis: 60%;
}

.about-text .st {
    font-size: 50px;
    font-weight: 500;
}

@media only screen and (max-width:600px) {
    .about-img img {
        flex-basis: 100%;
    }

    .about-text {
        flex-basis: 100%;
    }

}

.about-text .tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    font-size: 18px;
    font-weight: 500;
    margin-right: 50px;
    cursor: pointer;
    position: relative;
}